header {
    background-color: nth($color, 8);
    position: sticky;
    top: 0;
    z-index: 10;

    .container-fluid {
        .navbar-brand {
            display: flex;
            align-items: center;

            div {
                width: 50px;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                color: nth($color, 9);
                font-family: "Saira", sans-serif;
                font-style: italic;
                font-size: nth($fontSize, 4);
                margin-left: 20px;

                &:hover {
                    color: nth($color, 12);
                    transition: 1s;
                }
            }
        }


        .nav-link {
            color: nth($color, 12);
            font-family: "Saira", sans-serif;
            font-style: normal;
            font-size: nth($fontSize, 5);
            text-decoration: none;

            &:hover {
                color: nth($color, 9);
                transition: 1s;
            }
        }

        .navbar-toggler {
            color: nth($color, 12);
            border-color: nth($color, 12);
        }
    }
}