header {
    background-color: rgb(48, 155, 197);
    position: sticky;
    top: 0;

    h1 {
        color: rgb(16, 69, 184);
        font-family: "Saira", sans-serif;
        font-style: italic;
        font-size: 30px;
        margin-left: 20px;

        &:hover {
            color: rgb(66, 66, 66);
            transition: 1s;
        }
    }
}

.nav-link {
    color: rgb(66, 66, 66);
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-size: larger;
    text-decoration: none;

    &:hover {
        color: rgb(16, 69, 184);
        transition: 1s;
    }
}