header {
    background-color: nth($color, 8);
    position: sticky;
    top: 0;
    z-index: 10;

    h1 {
        color: nth($color, 9);
        font-family: "Saira", sans-serif;
        font-style: italic;
        font-size: 30px;
        margin-left: 20px;

        &:hover {
            color: nth($color, 3);
            transition: 1s;
        }
    }
}

.nav-link {
    color: nth($color, 3);
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-size: larger;
    text-decoration: none;

    &:hover {
        color: nth($color, 9);
        transition: 1s;
    }
}