.historia {
    background-color: nth($color, 1);
    align-items: center;
    font-family: "Saira", sans-serif;
    text-align: center;
    section {
        h3 {
            border-top: 1px solid nth($color, 10);
            color: rgb(139, 206, 233);
            text-shadow: 0 0 3px #000000, 0 0 5px #000000;
            text-align: center;
            font-size: 3em;
            padding: 0.5em;
    
        }
    
        .mundial {
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            div {
                width: 700px;
                height: 450px;
                padding-bottom: 2%;
    
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 5px 4px 5px -2px rgba(17, 0, 34, 0.74);
                    -webkit-box-shadow: 5px 4px 5px -2px rgba(17, 0, 34, 0.74);
                    -moz-box-shadow: 5px 4px 5px -2px rgba(17, 0, 34, 0.74);
                }
    
                h4 {
                    font-style: normal;
                    font-size: 2em;
                    color: nth($color, 3);
    
                }
    
                p {
                    font-style: normal;
                    font-size: 1em;
                    color: nth($color, 3);
                    padding: 1em;
    
                }
    
            }
            iframe {
                margin-bottom: 1%;
            }
        }
    
    }
}
