main {
    .principalImg {
        height: 900px;
        background-image: url(../img/argchamp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .argChamp {
            font-family: "Saira", sans-serif;
            font-style: oblique;
            font-size: 50px;
            color: rgb(245, 223, 183);
            text-shadow: 0 0 3px #000000, 0 0 5px #000000;
            text-align: center;
            padding: 2%;
        }
    }

    .welcome {
        height: 25%;
        background-color: #e9e9e98a;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            margin: 2%;
            object-fit: cover;


        }

        div {
            .welcomeH4 {
                font-family: "Saira", sans-serif;
                font-style: normal;
                font-size: xx-large;
                color: rgb(66, 66, 66);
                margin-right: 5%;
                text-align: center;

            }

            .welcomeP {
                font-family: "Saira", sans-serif;
                font-style: italic;
                font-size: x-large;
                color: rgb(139, 206, 233);
                margin-right: 5%;
                margin-top: 5%;
                text-align: center;

            }
        }
    }

    .cards {
        background-color: #e9e9e98a;

        h3 {
            font-family: "Saira", sans-serif;
            font-style: italic;
            font-size: 100px;
            color: rgb(139, 206, 233);
            text-shadow: 0 0 3px #000000, 0 0 5px #000000;
            text-align: center;
            padding: 5%;
        }

        .cardsFlex {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding-bottom: 10%;

            div {
                width: 350px;
                height: 280px;
                border-radius: 10px;
                text-align: end;
                box-shadow: 8px 8px 14px 0px rgba(72, 69, 102, 0.73);
                -webkit-box-shadow: 8px 8px 14px 0px rgba(72, 69, 102, 0.73);
                -moz-box-shadow: 8px 8px 14px 0px rgba(72, 69, 102, 0.73);
                margin: 2%;

                &:hover {
                    transform: scale(1.01);
                    transition: transform 0.5s;
                }

                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                h4 {
                    font-family: "Saira", sans-serif;
                    font-style: italic;
                    font-size: large;
                    color: rgb(139, 206, 233);
                    padding-right: 5%;
                    background-color: rgb(16, 69, 184);
                }

                a {
                    font-family: "Saira", sans-serif;
                    font-style: normal;
                    font-size: medium;
                    color: rgb(66, 66, 66);
                    margin-right: 5%;
                }

                &:hover {
                    background-color: rgb(139, 206, 233);
                    transition: 0.5s;

                }

            }
        }

    }
}